<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.demo.business.mapper.SysRoleMapper">
  <resultMap id="BaseResultMap" type="org.demo.business.entity.SysRole">
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="role_flag" jdbcType="VARCHAR" property="roleFlag" />
  </resultMap>
  <insert id="insert" parameterType="org.demo.business.entity.SysRole">
    insert into sys_role (role_id, role_name, role_flag
      )
    values (#{roleId,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, #{roleFlag,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.demo.business.entity.SysRole">
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
      <if test="roleFlag != null">
        role_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleFlag != null">
        #{roleFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>